<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }

    .title {
      color: grey;
      font-size: 18px;
    }

    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }

    button:hover,
    a:hover {
      opacity: 0.7;
    }
  </style>
</head>

<body>
  <header>
    <a class="header-logo" href="/">LIST</a>
  </header>
  <h2 style="text-align:center">Welcome to my profile !</h2>

  <div class="card">
    <img src="/images/khai.png" alt="Khai" style="width:100%">
    <h1>Khaidarsyah</h1>
    <p class="title">Backend Developer</p>
    <p>Glints X Binar Academy Batch 9</p>
    <div style="margin: 24px 0;">
      <a href="https://gitlab.com/kydrsyh"><i class="fa fa-gitlab"></i></a>
      <a href="https://www.linkedin.com/in/khaidarsyah/"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.instagram.com/kydrsyh/"><i class="fa fa-instagram"></i></a>
    </div>
    <p><button>Contact</button></p>
  </div>

</body>

</html>