<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>LIST</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/send_url.js"></script>
</head>

<body>
  <div class="top-wrapper">
    <div class="top-detail">
      <h2 class="subtitle">Aplikasi daftar belanja</h2>
      <h1 class="title">LIST</h1>
      <p class="description">
        LIST dapat membuat dan mengatur daftar pembelanjaan Anda dengan mudah.
        <br>
        Tambahkan barang yang Anda inginkan kapanpun, dimanapun.
      </p>
      <a class="index-button" href="/index">Lihat daftar</a>
      <a class="index-button" href="/khaidarsyah">My Profile</a>
    </div>
    <div class="top-image">
      <img src="/images/top.png">
    </div>
  </div>
</body>

</html>